.env*.local
.env
.env.local
node_modules/
.next/
out
.vercel
outputs
work
work/node-runtime/
*.tsbuildinfo
tsconfig.tsbuildinfo
.DS_Store

# Screenshots written by scripts/verify-ui.mjs on every run.
ui-shots/
